@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<string>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<br /><br />
<div class="container">
    
        @foreach (string i in Model)//displays all fav restaurants
        {
        <div class="card-columns card">
            <p class="card-body">@i</p>
        </div>
        }
    
    
</div>
