@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "View Recommendations";
}
@model IEnumerable<Recommendation>
<div>
    <table class="table-dark"><!--Table for all recommendations-->
        <thead class="table-dark thead-dark" >
            <tr>
                <th class="table-dark th" >Name</th>
                <th class="table-dark th">Restaurant Name</th>
                <th class="table-dark th">Favorite Dish</th>
                <th class="table-dark th">Phone</th>                
            </tr>
        </thead>
        <tbody class="table-dark tbody" >
            @foreach (Recommendation i in Model)//displays all recommendations
            {
                <tr>
                    <td class="table-dark td">@i.name</td>
                    <td class="table-dark td">@i.restaurantName</td>
                    <td class="table-dark td">@i.favoriteDish</td>
                    <td class="table-dark td">@i.phone</td>
                </tr>
            }


        </tbody>
    </table>
</div>